.font {
    font-family: 'Montserrat';
    font-weight: 400;
}

.title {
    font-size: 40px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parapgraph {
    margin-left: 20%;
    margin-right: 20%;
}

.pad-top {
    margin-top: 3rem;
}